/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 header {
  padding: 10px;
  margin: 25px;
  border: 1px solid blue;
 }

 footer {
  padding: 10px;
  margin: 10px;
 }

 header h1 {
    font-family: cursive;
    text-align: center;
 }

 #main-container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    height: 100px;
    border: 1px solid green;
 }

 #current-or-last-match {
    background-color: aquamarine;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 6;
 }

 #matches-today{

 }

 #group-tables {

 }

table.greyGridTable {
   border: 2px solid #FFFFFF;
   width: 100%;
   text-align: center;
   border-collapse: collapse;
 }
 table.greyGridTable td, table.greyGridTable th {
   border: 1px solid #FFFFFF;
   padding: 3px 4px;
 }
 table.greyGridTable tbody td {
   font-size: 13px;
 }
 table.greyGridTable td:nth-child(even) {
   background: #EBEBEB;
 }
 table.greyGridTable thead {
   background: #FFFFFF;
   border-bottom: 4px solid #333333;
 }
 table.greyGridTable thead th {
   font-size: 15px;
   font-weight: bold;
   color: #333333;
   text-align: center;
   border-left: 2px solid #333333;
 }
 table.greyGridTable thead th:first-child {
   border-left: none;
 }
 
 table.greyGridTable tfoot {
   font-size: 14px;
   font-weight: bold;
   color: #333333;
   border-top: 4px solid #333333;
 }
 table.greyGridTable tfoot td {
   font-size: 14px;
 }

 #second-round-matches {
   /* display: none; */
 }

 span.display-div {
  display: inline-block;
  width: 100px;
  color: blue;
 }

 .collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
